body {
	background-color: rgb(39, 40, 34);
	position: absolute;
}

* {
	font-family: Helvetica;
	color: white;
}

#fps {
	font-family: Helvetica;
	fill: white;
}

#input-wrapper {
	display: inline-block;
}

.input {
	margin: 10px;
}

input, button {
	color: black;
}

/* Play/Pause icon animation */
@import url("http://fonts.googleapis.com/css?family=Roboto:300");

.play-button {
	width: 20%;
	height: 30px;
	width: 30px;
	display: block;
	margin: 6px auto;
	overflow: hidden;
	position: relative;
}
.left {
	height: 100%;
	float: left;
	background-color: #fff;
	width: 36%;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	overflow: hidden;
}
.triangle-1 {
	-webkit-transform: translate(0, -100%);
	transform: translate(0, -100%);
}
.triangle-2 {
	-webkit-transform: translate(0, 100%);
	transform: translate(0, 100%);
}
.triangle-1,
.triangle-2 {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	width: 0;
	height: 0;
	border-right: 30px solid rgb(39, 40, 34);
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	-webkit-transition: -webkit-transform 0.25s ease;
	transition: -webkit-transform 0.25s ease;
	transition: transform 0.25s ease;
	transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.right {
	height: 100%;
	float: right;
	width: 36%;
	background-color: #fff;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.paused .left {
	width: 50%;
}
.paused .right {
	width: 50%;
}
.paused .triangle-1 {
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.paused .triangle-2 {
	-webkit-transform: translate(0, 50%);
	transform: translate(0, 50%);
}
