body {
	/*background-color: rgb(39, 40, 34);*/
	background-color: rgb(0,30,49);
	position: absolute;
}

h1 {
	font-family: Helvetica;
	color: white;
}

#fps {
	font-family: Helvetica;
	fill: white;
}

#input-wrapper {
	display: inline-block;
}

.input {
	margin: 10px;
}